body{
    background-color: #fecf4b;

  }


  header {
    display: flex;
    justify-content: center;
    margin-top: -8px;
  }
  .icon-bar {
    width: 30%; /* Full-width */
    background-color: #555555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }

  .icon-bar a {

    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 15px 0; /* Some top and bottom padding */
    transition: all 0.5s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 29px; /* Increased font size */
  }

  .icon-bar a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #464BB1; /* Add an active/current color */
  }