.note-form{
  overflow: hidden;
  text-align: left;
  position: relative;
  display: inline-block;
  border: 1px solid #fdd663;
  border-radius: 5px;
  margin: 10px;
  height: 200px;
  width:  306px;
  background-color: #feefc3;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
  box-shadow: 2px 2px 13px -4px rgba(0,0,0, 0.21);
}

.note-form .header-bar{
   color: white;
  padding: 10px;
  margin: 0;
  border-radius: 5px 5px 0 0;
  background-color: #fdd663;
}