
html, body{
  height: 100%;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  background-color: #b9deed;

}

.topnav{
  color: white;
  font-size: 20px;
  flex: 0 1 auto;
  -webkit-box-shadow: 0 2px 13px -4px rgba(0,0,0,0.9);
  box-shadow: 0 2px 13px -4px rgba(0,0,0, 0.9);
  padding-top: 15px;
  padding-bottom: 15px;
  background: #4871b5;
  background: -webkit-linear-gradient(to right, #4871b5, #1F4788, #4871b5);
  background: linear-gradient(to right, #4871b5, #1F4788, #4871b5);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.topnav a.active {
  background-color: inherit;
  color: white;
}

.welcome{
  overflow: hidden;
  max-width: 600px;
  color: #fff;
}

.project-name{
  font-size: 26px;
}

.right-nav{
  float: right;
}


.main-container{
  flex: 1 1 auto;
  margin: 0 10px;

}

.tab {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;

}


@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.footer {
  padding-top: 5px;
  color: white;
  text-align: right;
   width:100%;

  -webkit-box-shadow: 0 -2px 13px -4px rgba(0,0,0,0.9);
  box-shadow: 0 -2px 13px -4px rgba(0,0,0, 0.9);
  background: -webkit-linear-gradient(to right, #4871b5, #1F4788, #4871b5);
  background: linear-gradient(to right, #4871b5, #1F4788, #4871b5);

   flex: 0 1 20px;
}

.con {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.note{
  resize: both;
  max-height: 500px;
  max-width: 500px;

  position: absolute;
  overflow-y: auto;
  word-break: break-word;
  font-size: 18px;
  text-align: left;

  display: inline-block;
  border: 1px solid #fdd663;
  border-radius: 5px;
  margin: 10px;
  height: 270px;

  width:  227px;
  background-color: #feefc3;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
  box-shadow: 2px 2px 13px -4px rgba(0,0,0, 0.21);

}

.note:hover{
  z-index: 99999999999999999999999999999999999999999999 !important;
  border: 1px solid red;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
  box-shadow: 2px 2px 13px -4px rgba(0,0,0, 0.21);

}
.header-bar{
  cursor: move;
  color: white;
  padding: 10px;
  padding-left: 110px;
  margin: 0;
  border-radius: 5px 5px 0 0;
  background-color: #fdd663;
}

.header-links{
  width: 60px;
  display:flex;
  justify-content: space-between;
}

.header-bar a{
  color: black;
  text-decoration: none;
}

.delete{
  padding: 50px;
  text-align: center;

  margin: 50px auto;
  width: 500px;
  align-content: center;
  border: 4px solid;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
  box-shadow: 2px 2px 13px -4px rgba(0,0,0, 0.21);
}

.button{
  border: 3px solid #fdd663;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  background-color: #feefc3;
}