
html, body{

  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  background-color: #b9deed;

}

.topnav{
  color: white;
  font-size: 20px;
  flex: 0 1 auto;
  -webkit-box-shadow: 0 2px 13px -4px rgba(0,0,0,0.9);
  box-shadow: 0 2px 13px -4px rgba(0,0,0, 0.9);
  padding-top: 7px;
  padding-bottom: 7px;
  background: #4871b5;
  background: -webkit-linear-gradient(to right, #4871b5, #1F4788, #4871b5);
  background: linear-gradient(to right, #4871b5, #1F4788, #4871b5);

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.welcome{
  overflow: hidden;
  max-width: 600px;
  color: #fff;
}

.project-name{
  font-size: 26px;
}

.right-nav{
  float: right;
}

.right-nav a:hover{
  color: #003B4A;
}


.main-container{
  flex: 1 1 auto;
  margin: 0 10px;


}

.tab {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;

}


@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.footer {
  position: relative;
  bottom: 0;
  padding-top: 5px;
  color: white;
  text-align: right;
   width:100%;

  -webkit-box-shadow: 0 -2px 13px -4px rgba(0,0,0,0.9);
  box-shadow: 0 -2px 13px -4px rgba(0,0,0, 0.9);
  background: -webkit-linear-gradient(to right, #4871b5, #1F4788, #4871b5);
  background: linear-gradient(to right, #4871b5, #1F4788, #4871b5);

   flex: 0 1 20px;
}

.con {
  display: flex;
  flex-flow: column;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.note{
  width: 227px;
  height: 270px;
  min-width: 200px;
  min-height: 100px;
  resize: both;
  max-height: 500px;
  max-width: 500px;
 overflow-y: hidden;
  position: absolute;

  word-break: break-word;
  font-size: 18px;
  text-align: left;

  display: inline-block;
  border: 1px solid #b9deed;
  border-radius: 20px 5px 0 0;
  margin: 10px;

  background-color: #feefc3;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
  box-shadow: 2px 2px 13px -4px rgba(0,0,0, 0.21);

}

.note:hover{
  overflow-y: auto;
  z-index: 99999999999999999999999999999999999999999999 !important;
  border: 1px solid red;
  border-radius:  20px 5px 0 0;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
  box-shadow: 2px 2px 13px -4px rgba(0,0,0, 0.21);

}
.header-bar{
  cursor: move;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  border-radius:  20px 5px 0 0;
  background-color: #fdd663;
}

.header-links{
  width: 80px;
  display:flex;
  justify-content: space-between;
}

.header-bar a{
  color: black;
  text-decoration: none;
}

.from_whom{
  overflow: hidden;
  color:black;
}

.note-message{
  white-space: break-spaces;
}

.delete{
  padding: 30px;
  text-align: center;

  margin: 50px auto;
  width: 500px;
  align-content: center;
  background-color: #feefc3;
  border: 4px solid #fdd663;
  border-radius: 14px;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
  box-shadow: 2px 2px 13px -4px rgba(0,0,0, 0.21);
}

.button{
  border: 3px solid #fdd663;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  background-color: #feefc3;
}

.group-sign{
  width: 60%;
  margin-bottom: 15px;
  background-color: #feefc3;
  border: 3px solid #fdd663;
  border-radius: 14px;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
  box-shadow: 2px 2px 13px -4px rgba(0,0,0, 0.21);
}

.group-sign a{
  text-decoration: none;
  color: #4871b5;
}

.group-sign a:hover{
  color: #003B4A;
  font-weight: 700;
}

.members-container{
  padding-top:15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.members{
  text-align: left;
}

.container-sign{

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.btn{
    color: #4871b5;
    background-color: #feefc3;
    border: 3px solid #fdd663;
  border-radius: 14px;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
  box-shadow: 2px 2px 13px -4px rgba(0,0,0, 0.21);
}

.dropdown-menu{
    background-color: #feefc3;
}

.dropdown-item .active{
    background-color: #fdd663;
}


.cheat{
  display: flex;
  justify-content: center;
}
.cheat p input{
  width:110px;
  text-align: center;
}
.cheat1{
  display: flex;
  justify-content: center;
}
.cheat1 p input{
  text-align: center;
  width:420px;
}

.hack{
  text-align: center;
}

.dropdown-toggle:hover{
  font-weight: 900;
}
