{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %} — Family Notes</title>

    <link rel="icon" type="image/png" href="{% static "notes/images/icons/favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/dropMenu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/note-form.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2b21943bd9.js" crossorigin="anonymous"></script>
    <script src="{% static 'notes/js/tabActivity.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{% static 'notes/js/drag.js' %}"></script>
    <script src="{% static 'notes/js/resize.js' %}"></script>
<style>

</style>
</head>
<body>
<div class="con">

<div class="topnav">
    <div id="welcome" class="welcome">
        <a>Welcome, {{ request.user }}!</a>
    </div>

    <div class="project-name">
        <a href="{% url 'notes' %}" class="active">Family Notes</a>

    </div>

    <div id="right-nav" class="right-nav">
              <div class="dropdown">
                <button class="dropbtn">Notes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a class="tablinks" onclick="openCity(event, 'home')" id="defaultOpen" href="#">My Notes</a>
                    {% for group in groups %}
                    <a class="tablinks" onclick="openCity(event, {{ group }})" href="#">{{ group }}</a>
                    {% endfor %}
                </div>
              </div>

        <a href="{% url 'group-members' %}">Groups <i class="fa fa-users"></i></a>
        <a href="{% url 'settings' %}">About <i class="fa fa-cog"></i></a>
        <a  href="{% url 'logout' %}">Exit <i class="fa fa-sign-out"></i></a>
    </div>

</div>

<div class="main-container">
{% block content %}
{% endblock %}
</div>

<div class="footer">
    <div style="padding-right: 10px; ">
   &#169; Слава что-то сделал 2021
        </div>
</div>
</div>
<script>
    'use strict'
    document.getElementById("defaultOpen").click();
    $('#welcome').css('width', '452');
    setTimeout(function(){
        let welcome = document.getElementById('welcome');
        let rightNav = document.getElementsByClassName('right-nav')[0];
        welcome.style.width = rightNav.offsetWidth + 'px';
    }, 1000);
</script>
</body>
</html>