{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}">
    <script src="https://kit.fontawesome.com/2b21943bd9.js" crossorigin="anonymous"></script>
</head>
<body>
<h1>
    {{ request.user }}
</h1>

<header>
    <div class="icon-bar">
        <a class="active" href="#home"><i class="fa fa-home"></i></a>
        <a href="{% url 'notes' %}"><i class="fa fa-sticky-note-o"></i></a>
        <a href="#users"><i class="fa fa-users"></i></a>
        <a href="#settings"><i class="fa fa-cog"></i></a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a>
        {% else %}
            <a href="{% url 'logout' %}"><i class="fa fa-sign-in"></i></a>
        {% endif %}
    </div>
</header>

<hr>
<br>
{% block content %}
{% endblock %}


    {% block footer %}

    {% endblock %}

<script>
    //alert('So... hello?')
</script>
</body>
</html>