{% extends 'notes/basic.html' %}
{% load static %}
{% block title %}
Group Members
{% endblock %}
{% block content %}
 <div style="text-align: center;" >
    <p>
        Your group name is <i><b>{{ group.group_name }}</b></i> <br>
        Your group id is  <i><b>{{ group.id }}</b></i>    <br>
        {% if request.user.group_admin %}
             <i><b><a href="{% url 'group-delete' group.id %}">DELETE GROUP</a></b></i>
        {% endif %}


    </p> <hr>
        {% for member in group_members %}
            {{ member.username }}
            {% if request.user.group_admin and request.user.id != member.id %}
                <a href="{% url 'group-member-delete' member.id %}">Exclude</a>
            {% else %}
                <a href="{% url 'group-member-delete' request.user.id %}">Leave</a>
            {% endif %}
            <br>
        {% endfor %}
 </div>
{% endblock %}

