{% extends 'notes/basic.html' %}

{% load static %}


{% block title %}
Group Members
{% endblock %}

{% block style %}
    <script src="{% static 'notes/js/tabActivity.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/dropMenu.css' %}">
{% endblock %}

{% block content %}
    <div style="display: flex; height: 100%;">

    <div style="width: 15%; text-align: center; border-right: 1px solid #1F4788; height: 100%; margin: 0">
    <div class="dropdown" style="margin-top: 30px; margin-right: 0; margin-left: 0">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Select group
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for group in groups %}
                <li><button class="tablinks dropdown-item" onclick="openCity(event, '{{ group }}')">{{ group }}</button></li>
            {% endfor %}
        </ul>
    </div>
    </div>

    <div style="width: 70%">
    <div style="margin-top: 10px">

    {% for group, members in groups_members.items %}
        <div id="{{ group }}" class="tabcontent">
            <div style="text-align: center;" >
            <h5>
                Group: <i><b>{{ group.name }}</b></i>
                (id: <i><b>{{ group.id }}</b></i>)
                color: <span style="color: {{ groups_colors|get_item:group.name }}">&#9632;</span>
            </h5>
            <div style="display: flex">
                {% if request.user == group.admin %}
                    <div style="margin-left: 20px; width:20%; display: flex; justify-content: center">
                        <div class="group-sign" style="width: 70%">
                            <a href="{% url 'ban-management' group.id %}">Manage ban</a>
                        </div>
                    </div>
                    <div style="width:20%; display: flex; justify-content: center">
                        <div class="group-sign"  style="width: 70%">
                            <a href="{% url 'change-name' group.id %}">Change name</a>
                        </div>
                    </div>
                    <div style="width:20%; display: flex; justify-content: center">
                        <div class="group-sign"  style="width: 70%">
                            <a href="{% url 'change-pass' group.id %}">Change pass</a>
                        </div>
                    </div>
                    <div style="width:20%; display: flex; justify-content: center">
                        <div class="group-sign"  style="width: 70%">
                            <a href="{% url 'change-color' group.id %}">Change color</a>
                        </div>
                    </div>
                    <div style="margin-right: 20px; width:20%; display: flex; justify-content: center;">
                        <div class="group-sign"  style="width: 70%">
                            <a style="color: #dc3545" href="{% url 'group-delete' group.id %}">Delete group</a>
                        </div>
                    </div>
                {% else %}
                    <div style="display: flex; justify-content: center; width: 100%">
                        <div class="group-sign" style="margin-right: 20px; width:25%; display: flex; justify-content: center;">
                            <a href="{% url 'change-color' group.id %}">Change color</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="members-container">
                <h5>Group members:</h5>
            <div class="members">
                {% for member in members %}
                    {{ forloop.counter }}. {{ member.username }}
                    {% if member == group.admin %}
                        (admin)
                    {% endif %}

                    {% if request.user == group.admin %}
                        <a href="{% url 'note-create-personal' member.id %}"><i class="fas fa-sticky-note"></i></a>
                        <a class="link-danger" href="{% url 'group-member-delete' group.id member.id %}">
                        {% if member == request.user %}
                            <i class="fas fa-sign-out-alt"></i></a>
                        {% else %}
                            <i class="fas fa-times-circle"></i></a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'note-create-personal' member.id %}"><i class="fas fa-sticky-note"></i></a>
                        {% if member != group.admin %}
                            <a class="link-danger" href="{% url 'group-member-delete' group.id request.user.id %}"><i class="fas fa-sign-out-alt"></i></a>
                        {% endif %}
                    {% endif %}

                    <br>
                {% endfor %}
            </div>
            </div>
        </div>
        </div>

   {% endfor %}

    </div>
    </div>

    <div style="width: 15%; text-align: center; border-left: 1px solid #1F4788">
        <div class="container-sign">
            <div class="group-sign" style="width: 80%">
                <a href="{% url 'group-login' %}">Sign in group</a><br>
            </div>
            <div class="group-sign" style="width: 80%">
                <a href="{% url 'group-create' %}" >Create group</a>
            </div>
        </div>
    </div>
    <script>
        document.getElementsByClassName('tablinks')[0].click()
    </script>


    </div>
{% endblock %}

