{% extends 'notes/basic.html' %}

{% block title %}
Note Group
{% endblock %}


{% block content %}

    <div style="text-align: center; margin-top: 10px">
        <h5><a href="{% url 'group-management' %}">&#8592;Back</a> Here you can join a group.</h5><p> You need to enter group id and password. Contact group admin to get them </p>
        {% if failure %}
            <ul>
            <li>{{ failure }}</li>
            </ul>
        {% else %}
            <br>
        {% endif %}
        <form method="POST" action="" class="delete" style="margin-top: 5px">
            {% csrf_token %}

            <p>Group id: <input type="number"  name="group_id" value="{{ searched_id }}"></p>
            <p>Password: <input type="password"  name="password"></p>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        <br>

        <p>Or you can create you own one</p>
        <a href="{% url 'group-create' %}">CREATE GROUP</a>
    </div>
{% endblock %}
