{% extends 'notes/basic.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}


{% block title %}
Group Members
{% endblock %}

{% block style %}
    <script src="{% static 'notes/js/tabActivity.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/dropMenu.css' %}">
{% endblock %}

{% block content %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for group in groups %}
                <button class="tablinks" onclick="openCity(event, '{{ group }}')">{{ group }}</button>
            {% endfor %}
        </div>
    </div>

    {% for group, members in groups_members.items %}
        <div id="{{ group }}" class="tabcontent">
            <div style="text-align: center;" >
            <p>
                Your group name is <i><b>{{ group.name }}</b></i> <br>
                Your group id is  <i><b>{{ group.id }}</b></i>    <br>
                {% if request.user == group.admin %}
                    <i><b><a href="{% url 'group-delete' group.id %}">DELETE GROUP</a></b></i>
                {% endif %}
            </p><hr>
            <P>{{ groups_members.group}}</P>
        {% for member in members %}
            {{ member.username }}

            {% if request.user == group.admin and request.user.id != member.id %}
                <a href="{% url 'group-member-delete' group.id member.id %}">Exclude</a>
            {% else %}
                {% if member.id == request.user.id %}
                    <a href="{% url 'group-member-delete' group.id request.user.id %}">Leave</a>
                    {% endif %}
            {% endif %}
            <br>
        {% endfor %}
         </div>
        </div>
   {% endfor %}

    <a href="{% url 'group-login' %}">Sign in group</a>
    <a href="{% url 'group-create' %}">Create group</a>

    <script>
        document.getElementsByClassName('tablinks')[0].click()
    </script>
{% endblock %}

