{% extends 'notes/basic.html' %}
{% load static %}

{% block content %}

    <p>
        Your group name is {{ group.group_name }} <br>
        Your group id is {{ group.id }}    <br>
        {% if request.user.group_admin %}
            <a href="{% url 'group-delete' group.id %}">DELETE GROUP</a>
        {% endif %}


    </p> <hr>
        {% for member in group_members %}
            {{ member.username }}
            {% if request.user.group_admin and request.user.id != member.id %}
                <a href="{% url 'group-member-delete' member.id %}">Exclude</a>
            {% else %}
                <a href="{% url 'group-member-delete' request.user.id %}">Leave</a>
            {% endif %}
            <br>
        {% endfor %}
{% endblock %}

{% block footer %}
    <a href="{% url 'add' %}"><div class="foot fas fa-plus"></div></a>
{% endblock %}