{% extends 'notes/basic.html' %}
{% load static %}

{% block content %}

    {% if request.user.note_group %}
        {% if notes_list %}
        {% for note in notes_list %}
            {{ note.message }}
            <a href="{% url 'edit' note.id %}">Edit</a>
            <a href="{% url 'note-delete' note.id %}">&#215;</a>
            <script src={% static 'notes/script.js' %}></script>
            <br>
            {% endfor %}
        {% else %}
            <p>No notes are available.</p>
        {% endif %}
    {% else %}
        <p>Seems like you are not in group yet. Wanna enter one? </p>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Login">
        </form>
        <br>
        <p>Or you can create you own one</p>
        <a href="{% url 'group-create' %}">CREATE GROUP FORM</a>
        <br>
    {% endif %}

{% endblock %}

{% block footer %}
    <a href="{% url 'add' %}"><div class="foot fas fa-plus"></div></a>
{% endblock %}