{% extends 'notes/basic.html' %}
{% load static %}
{% block title %}
Note Group
{% endblock %}
{% block content %}
    <div style="text-align: center;">
        <p>Seems like you are not in group yet. Wanna enter one? </p>
        {% if failure %}
            <ul>
            <li>{{ failure }}</li>
            </ul>
        {% endif %}
        <form method="POST" action="">
            {% csrf_token %}
            <p>Group id: <input type="number" name="group_id" value="{{ searched_id }}"></p>
            <p>Password: <input type="password" name="password"></p>
            <input type="submit" value="Login">
        </form>

        <p>Or you can create you own one</p>
        <a href="{% url 'group-create' %}">CREATE GROUP FORM</a>
    </div>
{% endblock %}
