{% extends 'notes/basic.html' %}
{% block title %}Group Password{% endblock title %}

{% block content %}
    <div style="text-align: center; margin-top: 35px">
        <h5>You are changing password for group "{{ group.name }}"
            (id: {{ group.id }})</h5>
    </div>
    <form method="POST" class="delete">
        <p style="margin-bottom:15px">Enter new password here </p>
        {% csrf_token %}
        <div class="cheat1">
            {{ form.as_p }}
        </div>
        <div style="width: 100%; display: flex; justify-content: space-between; margin-top: 15px">
            <button class="btn"><a href="{% url 'group-management' %}">&#8592;Back</a></button>
            <button type="submit" class="btn">Save</button>
        </div>
    </form>
{% endblock %}