{% extends 'notes/basic.html' %}

{% block title %}
    Note Group
{% endblock %}

{% block content %}
    <div style="text-align: center; margin-top: 35px">
        <h5>Here you can join a group.</h5>
        <p> You need to enter group id and password. Contact group admin to get them </p>

        <form method="POST" action="" class="delete" style="margin-top: 5px; padding: 20px 30px">
            {% if failure %}
                <ul>
                    <li>{{ failure }}</li>
                </ul>
            {% else %}
                <br>
            {% endif %}
            {% csrf_token %}
            <div class="form-group" style="margin-bottom: 5px">
                <div style="width: 100%; text-align: left">
                    Group id:
                </div>
                <input class="form-control" type="number" name="group_id" value="{{ searched_id }}">
            </div>

            <div class="form-group">
                <div style="width: 100%; text-align: left">
                    Password:
                </div>
                <input type="password" class="form-control" name="password"></p>
            </div>

            <div style="width: 100%; display: flex; justify-content: space-between">
                <button class="btn"><a href="{% url 'group-management' %}">&#8592;Back</a></button>
                <button type="submit" class="btn">Login</button>
            </div>

        </form>
        <br>

        <p>Or you can create you own one <br> <a style="text-decoration: none" href="{% url 'group-create' %}">CREATE GROUP</a></p>
    </div>
{% endblock %}
