{% extends 'notes/basic.html' %}
{% load static %}

{% block content %}
    {% if notes_list %}
        {% for note in notes_list %}
            {{ note.message }}
            <a href="{% url 'edit' note.id %}">Edit</a>
            <a href="{% url 'note-delete' note.id %}">&#215;</a>
            <script src={% static 'notes/script.js' %}></script>
            <br>
        {% endfor %}
    {% else %}
        <p>No notes are available.</p>
    {% endif %}
{% endblock %}

{% block footer %}
    <a href="{% url 'add' %}"><div class="foot fas fa-plus"></div>Add</a>
{% endblock %}