{% extends 'notes/basic.html' %}

{% block title %}
    Create Note
{% endblock %}


{% block content %}
    <div style="text-align: center; margin-top: 15px">
        <h5><a href="{% url 'notes' %}">&#8592;Back</a> Note add</h5>
    </div>

    <div style="display: flex; justify-content: center">
        <form method="post">
            {% csrf_token %}
            <div class="note-form">
                <div class="header-bar"></div>
                {{ form.message }}
            </div>
            <div>
                <div>
                    <label>{{ form.group.label }}</label>
                    {{ form.group }}
                    <label>{{ form.to_whom.label }}</label>
                    {{ form.to_whom }}
                </div>
                <div style="margin-top: 10px">
                    <input style="height: 40px" class="button" type="submit" value="submit">
                </div>
            </div>

        </form>
    </div>
{% endblock %}