{% extends 'notes/basic.html' %}
{% block title %}
Create Note
{% endblock %}
{% block content %}
    <div style="text-align: center; margin-top: 15px">
        <h5><a href="{% url 'group-management' %}">&#8592;Back</a> Direct note creation</h5>
        <p>You are going to write a note to {{ member }}.</p>
    </div>

    <div style="display: flex; justify-content: center">
        <form method="post">
        {% csrf_token %}
            <div class="note-form">
                <div class="header-bar"></div>
                {{ form.message }}
            </div><br>

            <div style="display: flex; justify-content: center">
                <div>
                    <input style="height: 100%" class="button" type="submit" value="submit">
                </div>
            </div>

        </form>
    </div>
{% endblock %}