{% extends 'notes/basic.html'%}
{% load static %}
{% block title %}
Notes
{% endblock %}

{% block style %}
    <script src="{% static 'notes/js/tabActivity.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/dropMenu.css' %}">
{% endblock %}

{% block menu %}
    <div class="dropdown-js">
        <button class="dropbtn">Notes
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
            <a class="tablinks" id="defaultOpen"  onclick="openCity(event, 'home')" href="#MyNotes">My Notes</a>
            {% for group in groups %}
                <a class="tablinks" onclick="openCity(event, '{{ group }}')" href="#{{ group }}">{{ group }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock menu %}


{% block content %}
{% if group_notes_list %}
    {% for group, notes_list in group_notes_list.items %}
        <div id={{ group }} class="tabcontent">
            {% if notes_list %}
                {% for note in notes_list %}
                    <div id="draggable" class="ui-widget-content draggable note resizable">
                        <div class="header-bar">
                            <div class="header-links">
                                <a id="zUp" class="zUp" href="#">&#8593;</a>
                                <a class="zValue" href="#">0</a>
                                <a id="zDown" class="zDown" href="#">&#8595;</a>
                                <a href="{% url 'add' %}">&#8853;</a>
                                <a href="{% url 'edit' note.id %}">&#9998;</a>
                                <a href="{% url 'note-delete' note.id %}">&#215;</a>
                            </div>
                        </div>
                        <div class="note-message" style="padding: 5px 10px">
                            {{ note.message }}
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <div style="text-align: center">
                    <p>No notes are available</p>
                    <a href="{% url 'add' %}">Add one</a>
                </div>

                <div style="text-align: center">
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}


<div id="home" class="tabcontent">
  {% if my_notes_list %}
        {% for note in my_notes_list %}
            <div id="draggable" class="ui-widget-content draggable note resizable">
                <div class="header-bar">
                    <div class="header-links">
                        <a id="zUp" class="zUp" href="#">&#8593;</a>
                        <a class="zValue" href="#">0</a>
                        <a id="zDown" class="zDown" href="#">&#8595;</a>
                        <a href="{% url 'add' %}">&#8853;</a>
                        <a href="{% url 'edit' note.id %}">&#9998;</a>
                        <a href="{% url 'note-delete' note.id %}">&#215;</a>
                    </div>
                </div>
                <div class="note-message" style="padding: 5px 10px">
                    {{ note.message }}
                </div>
            </div>
        {% endfor %}

    {% else %}
      <div style="text-align: center">
          <p>No notes are available</p>
          <a href="{% url 'add' %}">Add one</a>
      </div>

      <div style="text-align: center">
      </div>
    {% endif %}
</div>

<script src="{% static 'notes/js/zIndexSetter.js' %}"></script>
<script>
    document.getElementById("defaultOpen").click();
</script>
{% endblock content %}

