{% extends 'notes/basic.html' %}
{% block title %}
Create Note
{% endblock %}
{% block content %}
    <div style="text-align: center;">
        <h4>Добавление записки<a href="{% url 'notes' %}">&#8592;Back</a></h4>
    </div>

    <div style="display: flex; justify-content: center">
        <form method="post">
        {% csrf_token %}
            <div class="note-form">
                <div class="header-bar"></div>
                {{ form.message }}
            </div><br>

            <div style="display: flex; justify-content: space-between">
                <div>
                    <label>{{ form.group.label}}</label>
                    {{ form.group}}<br>
                    <label>{{ form.to_whom.label }}</label>
                    {{ form.to_whom }}<br>
                </div>
                <div>
                    <input style="height: 100%" class="button" type="submit" value="submit">
                </div>
            </div>

        </form>
    </div>
{% endblock %}