{% extends 'notes/basic.html' %}
{% load static %}
{% block title %}
    Deletion Confirmation
{% endblock %}
{% block content %}
    <div class="delete">

    <form method="post" style="padding-bottom: 20px">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ note }}"?</p>
        <input class="btn" style="float: left" type="submit" value="Confirm">
        <button class="btn" style="float: right"><a href="{% url 'notes' %}">&#8592;Back</a></button>
    </form>
    </div>
{% endblock %}